.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #19d829;
  color: #fff;
  padding: 0.5rem 2rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo-img {
  width: 100px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 10;
  padding: 10;
}

.navbar-links li a {
  color: #f1ebeb;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: #f0eee8;
}